<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:security="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_PERM_access_admin_screens')" />
        <security:logout logout-url="/admin/logout" logout-success-url="/" invalidate-session="true"/>


        <form-login login-page="/login" default-target-url="/admin" authentication-failure-url="/login?error=true" />
    </http>

    <global-method-security pre-post-annotations="enabled"/>

    <beans:bean id="produxAuthenticationProvider" class="nl.codebasesoftware.produx.spring.authentication.ProduxAuthenticationProvider"/>

    <security:authentication-manager>
        <security:authentication-provider ref="produxAuthenticationProvider"/>
    </security:authentication-manager>

</beans:beans>

