#* @vtlvariable name="userProfile" type="nl.codebasesoftware.produx.domain.UserProfile" *#


<html>
<body>


<p>
   Beste ${userProfile.firstName} ${userProfile.lastName},
   <br><br>
   U heeft aangegeven dat u uw wachtwoord vergeten bent. We hebben een nieuw wachtwoord voor u gegenereerd. U kunt
    <a href="${protocol}://${host}/login">inloggen</a> met dit emailadres en onderstaand wachtwoord.
   <br>
   <br>
   Uw nieuwe wachtwoord: <b>${password}</b>
   <br>
   <br>
   Nb. u kunt uw wachtwoord wijzigen door in te loggen en naar "mijn gegevens" te gaan.
   <br>
   <br>
   Hartelijke groeten,
   <br>
   <br>
   ICTCursus.nl
   <br>
   <br>
</p>
</body>

</html>