@import url("shared.css");


body{
    margin-top: 25px;
}

#wrapper #middle .default-block table {
    padding: 5px 0px 15px 0px;
}

#wrapper #middle .default-block table th {
    font-size: 13px;
    text-align: left;
    padding: 7px;
    font-weight: bold;
    color: #444;
    background-color: #f5f2f2;
}

#wrapper #middle .default-block table th.subheader {
    background-color: white;
    text-decoration: underline;

}

#wrapper #middle .default-block table tr {
    background-color: #fff;
}

#wrapper #middle .default-block table.invisible tr {
    background-color: #d4d0d0;
}

#wrapper #middle .default-block table.invisible td {
    padding: 0;
}

#wrapper #middle .default-block table td {
    padding: 7px;
}

#wrapper #middle #left ul {
    padding-left: 4px;
}

#wrapper #middle #left ul li {
    padding-bottom: 6px;
    list-style-type: none;
}

#wrapper #middle #left ul li a {
    text-decoration: none;
    font-size: 13px;
}

#wrapper #middle #left ul li a:hover {
    text-decoration: underline;
}

#wrapper #middle #main-content .course-list-item {
    width: 500px;
    display: block;
    clear: both;
    position: relative;
    overflow: auto;
}

#wrapper #middle #main-content .courselink .course-list-item .logo {
    float: left;
    padding: 10px;
}

#wrapper #middle #main-content .courselink {
    text-decoration: none;
    color: #000;
}

#wrapper #middle #main-content #invalidMessage {
    background-color: #ff6363;
    color: #940101;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 20px;
}

#wrapper #middle #main-content #validMessage {
    background-color: #74de1e;
    color: #057700;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 20px;
}

#wrapper #footer {
    background-color: #1e90ff;
    padding: 10px;
}

.default-block {
    padding: 15px 15px 15px 15px;
    background-color: #d4d0d0;
    margin-bottom: 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.default-block.header {
    background-color: #f5f2f2;
}

#admin-header #logo {
    color: #63a2ba;
    width: 550px;
    margin-left: 200px;
    text-shadow: 2px 2px #ccc;

}

#admin-header a {
    text-decoration: none;
}

.default-block .form-error {
    color: #cc0000;
    display: block;
    padding-top: 5px;
    font-weight: bold;
    font-size: 14px;
}

.default-block h1 {
    font-size: 24px;
    font-weight: normal;
}

.default-block h2 {
    font-size: 18px;
    padding: 4px 0px 7px 0px;
    font-weight: normal;
}

.default-block label {
    display: block;
    padding-bottom: 7px;
    font-size: 18px;
}

.default-block a {
    color: #cc0000;
}

.default-block input[disabled='true'] {
    background-color: #f0f2ed;
}

.default-block .inlineCheckBox label {
    display: inline;
    padding: 0px 12px 0px 5px;
    font-weight: normal;
    font-size: 12px;
}

.default-block span.blockCheckBox {
    padding-top: 5px;
    display: block;
}

.default-block span.blockCheckBox label {
    display: inline;
    font-weight: normal;
    font-size: 12px;
}

.default-block label span {
    display: block;
    font-size: 11px;
    font-weight: normal;
    padding-bottom: 2px;
}

.default-block ul li {
    margin-left: 17px;
    margin-bottom: 10px;
    line-height: 18px;


}

.default-block div.option-category strong {
    display: block;
    padding-top: 12px;
    padding-bottom: 4px;
}

.default-block div.option-category div {
    padding-bottom: 3px;
}

.default-block div.option-category label {
    font-size: 12px;
    display: inline;
    padding-bottom: 2px;
}

.default-block #certificate-name {
    padding: 5px 0px 0px 0px;
}

.default-block .form-input-error {
    border: 1px solid red;
}

.default-block .submitbutton {
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
}

#suggestBox {
    background-color: #fff;
    border: 1px solid gray;
    width: 250px;
    position: absolute;
}

#suggestBox a {
    padding: 3px;
    display: block;
    text-decoration: none;
    color: black;
}

#suggestBox a:hover {
    background-color: #1e90ff;
}

.default-block a.subbutton, .default-block input.subbutton {
    padding: 5px 8px 5px 8px;
    background-color: #0b0271;
    color: white;
    border: 1px solid white;
    text-decoration: none;
}

a.subbutton.disabled-button {
    background-color: #d0d0d0;
    pointer-events: none;
    cursor: default;
}

.hide {
    display: none;
}

.selectionContainer table {
    width: 250px;
    margin: 12px 0px 0px 0px;
    padding: 0;
    background-color: #f4f2f2;
}

.selectionContainer table td {
    margin: 0;
    padding: 0;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#lightbox iframe {
    width: 450px;
    height: 180px;
    overflow: hidden;
}

#companyLogo {
    padding: 10px 0px 10px 0px;
}

#tinymce {
    padding: 7px;
}

#upload-result-frame {
    display: none;
}

.pageup, .pagedown {
    font-size: 22px;
    text-decoration: none;
}

.right-aligned {
    text-align: right;
}

.rejectmessage input[type='submit'] {
    margin-top: 3px;
}

.emptycell {
    background-color: #d4d0d0;
}

.error {
    color: red;
}

.hidden {
    display: none;
}

#lightbox {
    position: absolute;
    padding: 25px;
    background-color: white;
    width: 450px;
    height: 180px;
}

/* Lightbox background */
#lightbox {
    display: none;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.70);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #99000000, endColorstr = #99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000)";
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    z-index: 10000;
}

/* Lightbox panel with some content */
#lightbox-panel {
    display: none;
    position: fixed;
    top: 100px;
    left: 50%;
    padding: 10px 15px 10px 15px;
    border: 2px solid #CCCCCC;
    z-index: 10001;
    border-radius: 6px;
    -moz-border-radius: 6px; /* Old Firefox */
}

.upload-lightbox {
    width: 300px;
    background: #ccc repeat-x bottom left;
    margin-left: -200px;
}
#admin-menu {
    text-align: right;
    padding-right: 15px;
}

.default-block p {
    padding: 0px 10px 15px 0px;
    line-height: 18px;
}

#tinymce p {
    padding:  15px 0px 15px 0px;
}

div.tabs {
    overflow: auto;
    background-color: #f5f2f2;
}

div.tabs ul li {
    float: left;
    list-style-type: none;
}

div.tabs ul li a {
    display: block;
    padding: 20px;
    border-right: 1px solid white;
}

table.productstable table {
    width: 100%;
}

table.productstable th {
    min-height: 25px;
}

table.productstable td {
    vertical-align: top;
}

.center {
    text-align: center;
}

#cost {
    color: white;
    font-weight: bold;
    font-size: 14px;
}

#cost .big {
    font-style: underline;
}




