@font-face
{
    font-family: headingFont;
    /* C:\Projects\ictcursus.nl\src\main\resources\static\font */
    src: url('/static/font/DistProTh.otf');
}

body {
    font-size:0.8em;
    font-family: Arial, sans-serif;
    text-align: center; /* used to center lightbox div in IE */
}

#site-header {
    width: 100%;
    /* background-image: url('/static/img/topbg.gif');
    background-repeat: repeat-x; */
    background-color: #24418F;
    padding: 10px 0 0 0;
    text-align: left; /*resets text alignment from body tag */
}



#outermain {
    width: 1005px;
    margin: 0 auto;
    position: relative;
    overflow: auto;
    background-image: url('/static/img/bgdisk_smaller.jpg');
    background-position: 100% 0%;
    background-repeat: no-repeat;
}

#innermain {
    padding-top: 60px;
}

#innerheader, #innersearch, #innermain {
    width: 930px;
    margin: 0 auto;
    position: relative;
    overflow: auto;

}

#site-header #innerheader #logo {
    color: white;
    text-shadow: 2px 2px #444;
    display: inline;
    margin-left: 12px;
}

#site-header #innerheader a {
    text-decoration: none;
}

#site-header #innerheader ul {
    display: inline;
    margin-left: 15px;
}

#site-header #innerheader ul li {
    display: inline;
    margin-right: 12px;
}

#site-header #innerheader #topnav {
    position: absolute;
    bottom: 8px;
    right: 0;
}

#site-header #innerheader #topnav a {
    text-decoration: none;
    color: white;
}

#site-header #search {
    background-color: #fff;
    border-bottom: 1px solid gray;
}

#site-header #search #innersearch {
    text-align: center;
    padding: 10px 0 10px 0;
}

#site-header #search #innersearch input[type='submit'] {
    background-color: #24418F;
    color: white;
}

#main {
    background-color: #dddddd;
    padding-bottom: 100px;
    text-align: left; /*resets text alignment from body tag */
}

#main #innermain pre {
    font-size: 1.2em;
    background-color: #f0f0f0;
    padding: 5px;
}

#main #innermain ul {
    padding: 10px 0px 10px 20px;
    margin: 0;
}

#main #innermain ul.horizontal-list {
    text-align: center;
}

#main #innermain ul.horizontal-list li {
    display: inline;
    list-style-type: none;
    padding-right: 15px;
}

#main #innermain ol {
    padding: 10px 0px 10px 20px;
    margin: 0;
}

#main #innermain ol li {
    padding: 4px 0px 4px 0px;
    list-style-type: square;
}


#main #innermain ul li {
    padding: 4px 0px 4px 0px;
    list-style-type: square;
}

#main #innermain #left ul {
    padding: 0px 0px 10px 10px;
    margin: 0;
}

#main #innermain #left ul li {
    padding: 2px 0px 2px 0px;
    list-style-type: circle;
}

#main #innermain #left .roundedbox img {
    padding: 15px 0 15px 0;
}

#facets label.disabled {
    color: #aaaaaa;
}

#facets .facet {
    margin-bottom: 20px;
}

#facets .facet div {
    margin-bottom: 5px;
}

#facets .facet .facet-option.more {
    padding: 10px 0px 0px 20px;
    text-decoration: underline;
    font-style: italic;
}

#main a:hover {
    color: #4e9c1d;
    text-decoration: underline;
}

#main a, #facets label {
    color: #4e9c1d;
    text-decoration: none;
}

.roundedbox {
    margin-bottom: 30px;
    padding: 20px 20px 20px 20px;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:rgba(255,255,255,0.75);
}

#maincontent #courseRequest .submitbutton {
    margin-top: 17px;
}

#main #innermain #maincontent.roundedbox {
    padding-bottom: 25px;
}

#maincontent.roundedbox {
    background-color:white;
}

#maincontent #paging {
    text-align: center;
}

#maincontent #paging ul li {
    list-style-type: none;
    display: inline;
    padding: 8px;
}


.columntext {
    line-height: 18px;
}


#main #innermain #left {
    width: 200px;
}

#main #innermain #right {
    width: 142px;
}

#right, #left {
     float: left;
}

#maincontent h2, .header {
    font-size: 1.2em;
    margin-bottom: 12px;
    font-weight: bold;
    display: block;
}

#maincontent a h2 {
    margin-bottom: 0;
}

#main #innermain #right h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
}

#main #innermain #right p {
    margin-bottom: 20px;
    line-height: 20px;
}

#main #innermain #maincontent {
    float: left;
    width: 480px;
    line-height: 20px;
    margin: 0px 14px 0px 14px;
}

#main #innermain #maincontent.broad {
    width: 662px;
}

#main #innermain #maincontent pre {
    margin-bottom: 10px;
}

#main #innermain #maincontent pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#main #innermain #maincontent h1 {
    padding: 3px 0px 15px 0px;
    font-weight: normal;
    font-size: 2.4em;
    font-family: headingFont, sans-serif;
    line-height: 32px;
}

#main #innermain #maincontent #breadcrumb {
    margin: 0 0 10px 0;
}

#site-footer {
    width: 100%;
    background-color: #555555;
    color: white;
}

#main #innermain #maincontent p  {
    margin: 15px 0 15px 0;
}

#main #innermain #maincontent #courseRequest label  {
    margin-top: 15px;
}

#main #innermain #maincontent .course-list-item {
    overflow: auto;
    position: relative;
    margin-bottom: 15px;
    min-height: 100px;
    background-image: url('/static/img/dash.gif');
    background-repeat: repeat-x;
    background-position: bottom left;
}

#main #innermain #maincontent .course-list-item.last {
    border-bottom: none;
}

#main #innermain #maincontent .course-list-item p {
    padding: 7px 0px 7px 0px;
    margin: 0;
}

#main #innermain #maincontent .formcontainer .formblock {
    margin-bottom: 20px;
}

#main #innermain #maincontent .formcontainer .formblock h2 {
    margin-bottom: 0;
    margin-top: 15px;
}


#main #innermain #maincontent .course-list-item .description {
    padding: 0px 10px 10px 0px;
}

#main #innermain #maincontent .course-list-item .description b {
    padding-top: 8px;
}

#advertising-overlay-link-container {
    text-align: right;
    padding: 0px 0px 5px 0px;
}

div.pretty {
    margin-top: 15px;
    padding: 15px;
    background-color: #eaeaea;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.pretty table {
    text-align: left;
    margin-top: 15px;
}

div.pretty table tr {
    font-size: 0.80em;
    border-bottom: 1px solid white;
}

div.pretty table tr td {
    padding: 6px 2px 6px 2px;
    background-color: #ffffff;
}

div.pretty table tr th {
    padding: 6px 2px 6px 2px;
}

.default-block label {
    padding-bottom: 3px;
    padding-top: 10px;
}

.default-block label {
    display: block;
    font-weight: bold;
    padding-bottom: 3px;
}

.default-block span.helptext {
    font-size: 0.85em;
    display: block;
}

input, select, textarea {
    margin-top: 1px;
}

.form-error, #invalidMessage {
    color: red;
    font-weight: bold;
    display: block;
    padding-top: 3px;
}

#lightbox {
    position: fixed; /* keeps the lightbox window in the current viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/static/img/overlaybg.png') repeat;
    text-align: center;
}

#lightbox-panel {
    background-color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 40px;
    padding: 30px 20px;
    text-align: left;
    background-position: top left;
    background-repeat: repeat-x;
    border: 1px solid #000066;
    -moz-box-shadow: 5px 5px 5px #000;
    -webkit-box-shadow: 5px 5px 5px #000;
    box-shadow: 5px 5px 5px #000;

}

.advertising-lightbox {
    width: 750px;
    margin: 0 auto;
}

#lightbox-panel h1 {
    color: #000066;
    font-size: 1.3em;
}

#lightbox-panel h2 {
    color: #000066;
    font-size: 1.1em;
    margin-bottom: 10px;
}


input[type=checkbox].css-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:20px;
    height:15px;
    display:inline-block;
    background-repeat:no-repeat;
    background-position: 0 0;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
}

.css-label{ background-image:url(http://csscheckbox.com/checkboxes/lite-green-check.png); }

.white {
    background-color: white;
}













