@import url("shared.css");

@font-face {
    font-family: BebasNeue;
    src: url("/static/font/BebasNeue.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 0.80em;
    font-family: Arial;
}

#site-header {
    width: 100%;
    background-image: url('/static/img/topbg.gif');
    background-repeat: repeat-x;
    padding: 10px 0px 0px 0px;
}

#innerheader, #innersearch, #innermain {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

#site-header #innerheader #logo {
    font-family: BebasNeue;
    font-size: 3em;
    display: inline;
    color: white;
    text-shadow: 2px 2px #333;
}

#site-header #innerheader a {
    text-decoration: none;
}

#site-header #innerheader ul {
    display: inline;
    margin-left: 15px;
}

#site-header #innerheader ul li {
    display: inline;
    margin-right: 12px;
}

#site-header #innerheader #topnav {
    position: absolute;
    bottom: 8px;
    right: 0px;
}

#site-header #innerheader #topnav a {
    text-decoration: none;
    color: white;
}

#topnav, #logo {
    display: inline;
}

#site-header #search {
    background-color: #000;
}

#site-header #search #innersearch {
    text-align: center;
    padding: 10px 0px 10px 0px;
}

#main {
    background-color: #eaeaea;
    padding: 30px 0px 50px 0px;
}

#main #innermain {
    overflow: auto;
}

#main #innermain ul li {
    background: url('/static/img/list-bullet.gif') no-repeat left;
    list-style-type: none;
    padding: 2px 0px 2px 18px;
}

#main #innermain ul li li {
    background: url('/static/img/list-bullet.gif') no-repeat left;
    list-style-type: none;
    padding: 2px 0px 2px 18px;
}

#main a {
    color: #ee4141;
    text-decoration: none;
}

#main #innermain #topics {
    float: left;
    width: 200px;
}

#main #innermain #maincontent {
    float: left;
    width: 550px;
}

#main #innermain #maincontent h1 {
    padding-bottom: 15px;
    font-size: 1.5em;
}

#main #topics h2 {
    padding-bottom: 15px;
    font-size: 1.3em;
}

#site-footer {
    width: 100%;
    background-color: #555555;
}

.course-list-item {
    overflow:  auto;
    padding: 10px;
    border: 1px solid #b4b4b4;
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background-color: #fffaec;
    background-image:  url('/static/img/courselistingbg.gif');
    background-repeat: repeat-x;
    background-position: top left;
    margin-bottom: 5px;
}

.course-list-item h2 {
    padding-bottom: 4px;
    font-size: 1.3em;
}

.course-list-item .description {
    float: left;
    width: 450px;
    padding-right: 10px;
}

.course-list-item .logo img {
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    right: 10px;
}

#advertising-overlay-link-container {
    text-align: right;
    padding:  0px 0px 5px 0px;
}






