* {
    padding: 0;
    margin: 0;
}

html {
    overflow: -moz-scrollbars-vertical;
    overflow: scroll;
}

body {
    padding: 0 0 40px 0;
    margin: 0;
    font-family: arial;
    font-size: 12px;
}

#wrapper {
    width: 951px;
    margin: 0 auto;
}

#wrapper #header {
    background-color: #464646;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 10px;
    margin-bottom: 30px;
}

#wrapper #header #logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 10px 0px 5px 0px;
}

#wrapper #middle {
    overflow: auto;
}

#wrapper #middle #left {
    width: 200px;
    float: left;
    margin-right: 1px;
}

#wrapper #middle #left .default-block {
    min-height: 200px;
    height: auto !important;
    height: 200px;
    background-color: #a6a5a5;
}

#wrapper #middle .default-block table th {
    font-size: 20px;
    text-align: left;
    padding: 7px;
    font-weight: normal;
}

#wrapper #middle .default-block table td {
    padding: 7px;
}

#wrapper #middle #left ul {
    padding-left: 4px;
}

#wrapper #middle #left ul li {
    padding-bottom: 6px;
    list-style-type: none;
}

#wrapper #middle #left ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

#wrapper #middle #left ul li a:hover {
    text-decoration: underline;
}

#wrapper #middle #main-content {
    width: 750px;
    float: left;
}

#wrapper #middle #main-content .course-list-item {
    width: 500px;
    display: block;
    clear: both;
    position: relative;
    overflow: auto;
}

#wrapper #middle #main-content .courselink .course-list-item .logo {
    float: left;
    padding: 10px;
}

#wrapper #middle #main-content .courselink {
    text-decoration: none;
    color: #000;
}

#wrapper #middle #main-content #invalidMessage {
    background-color: #ff6363;
    color: #a10202;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 20px;
}

#wrapper #middle #main-content #validMessage {
    background-color: #74de1e;
    color: #057700;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 20px;
}

#wrapper #footer {
    background-color: #1e90ff;
    padding: 10px;
}

.default-block {
    padding: 15px 7px 15px 7px;
    background-color: #E6E4E4;
    margin-bottom: 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.default-block .form-error {
    color: #cc0000;
    display: block;
    padding-top: 5px;
    font-weight: bold;
    font-size: 15px;
}

.default-block label {
    display: block;
    padding-bottom: 7px;
    font-size: 20px;
}

.default-block.checkboxlist .regionCheckBox label {
    display: inline;
    padding: 0px 12px 0px 5px;
    font-weight: normal;
    font-size: 12px;
}

.default-block label span {
    display: block;
    font-size: 11px;
    font-weight: normal;
}

.default-block .form-input-error {
    border: 1px solid red;
}

.default-block input[type="submit"] {
    padding: 4px;
}

.error {
    display: block;
    color: red;
    padding: 10px 10px 10px 0px;
}

#suggestBox {
    background-color: #fff;
    border: 1px solid gray;
    width: 250px;
    position: absolute;
}

#suggestBox a {
    padding: 3px;
    display: block;
    text-decoration: none;
    color: black;
}

#suggestBox a:hover {
    background-color: #1e90ff;
}

a#addTag {
    padding: 5px 8px 5px 8px;
    background-color: #0b0271;
    color: white;
    border: 1px solid white;
    text-decoration: none;
}

#tagLengthError, #tagCharactersError {
    display: none;
}

#selectedTags {
    margin: 0 auto;
    width: 150px;
    padding-top: 15px;
}

#selectedTags img {
    padding-left: 4px;
}

#selectedTags #selectedTagsHeader {
    font-weight: bold;
    display: block;
    padding-bottom: 5px;
}

.tagSelected {
    background-color: #cc0000;
}

textarea, input {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-family: arial;
}

textarea, input, select {
    border: 1px solid #8f91b0;
}

textarea:focus, input:focus, select:focus {
    outline: 1px solid #b3bdff;
}

#overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#lightbox {
    position: absolute;
    padding:  25px;
    background-color: white;
    width: 450px;
    height: 180px;
}

#lightbox iframe {
    width: 450px;
    height: 180px;
    overflow: hidden;
}

#companyLogo {
    padding: 10px 0px 10px 0px;
}









